name: Package toolbox and publish release

env:
  MATLAB_VER: ${{ vars.MATLAB_VER }}

# Run workflow when a tag is created
on:
  push:
    tags: 
      - 'v*'
      
jobs:
   
  packageToolbox:   
    # The type of runner that the job will run on
    runs-on: matlab
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out repo
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'
          token: ${{ secrets.REPO_READ_TOKEN }}
          
      # Download firmware mldatx file from bossdevice-firmware
      - name: Download firmware artifacts
        uses: dawidd6/action-download-artifact@v6
        with:
          github_token: ${{ secrets.REPO_READ_TOKEN }}
          workflow: main.yml
          repo: sync2brain/bossdevice-firmware
          branch: main
          search_artifacts: true
          name: bossdevice-firmware-${{ vars.MATLAB_VER }}
          if_no_artifact_found: fail
          path: work
      
      # Download Speedgoat dependendencies
      - name: Download Speedgoat dependencies artifacts
        uses: dawidd6/action-download-artifact@v6
        with:
          github_token: ${{ secrets.REPO_READ_TOKEN }}
          workflow: main.yml
          search_artifacts: true
          name: speedgoat-deps-*
          name_is_regexp: true
          skip_unpack: true
          if_no_artifact_found: fail

      - name: Unzip Speedgoat artifacts into sg folder
        run: |
          Get-ChildItem '.' -Filter speedgoat-deps-*.zip | Expand-Archive -DestinationPath 'toolbox\dependencies\sg' -Force
          
      - name: Cache MATLAB build files
        uses: actions/cache@v5
        with:
          key: matlab-buildtool
          path: |
            .buildtool

      - name: Prepend MATLAB to PATH on Windows (PowerShell)
        if: runner.os == 'Windows'
        run: echo "$env:ProgramFiles\MATLAB\$env:MATLAB_VER\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Run MATLAB command
        uses: matlab-actions/run-command@v2
        timeout-minutes: 15
        with:
          command: buildtool package('${{  github.ref_name }}','${{  github.actor }}');
      
      # Create new release
      - name: Create a new release
        uses: softprops/action-gh-release@v2
        with:
          files: releases/bossdevice-api-installer.mltbx
          fail_on_unmatched_files: true
          generate_release_notes: true
